<style>
    .article-reminder {
        background-color: #6b53ff;
        color: #ffffff;
        padding: 20px;
        border: 2px solid #5f5aa2;
        border-radius: 10px;
        margin-bottom: 20px;
        float: right;
    }

    .article-reminder h3 {
        margin-top: 0;
        font-size: 24px;
        text-align: center;
    }

    .article-reminder p {
        margin: 10px 0;
        font-size: 18px;
    }

</style>

<body>
    <div class="main-container">
        <div class="article-reminder">
            <div class="article-reminder-frame">
                <h3>How to write an article that people will trust and want to read?</h3>
                <p>Some good, old-fashioned research. To perform well, an article is optimized for search engines but written for users. It must be informative, factual, and cater to the user’s search intent.</p>
                <p>So, once you’ve figured out the topics and the keywords that will boost your article in the search rankings, it’s time to get your facts straight.</p>
                <p>To avoid falling into a Wikipedia wormhole, focus your research around the keywords you’ve already acquired through Semrush Tools. Then use the ‘people also ask’ and ‘related searches’ features to pin down the information that people want to know about your topic.</p>
            </div>
        </div>
        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                </div>
</body>