{% extends 'base.html' %}

{% block content %}
   <div class="contact-from mt-30">
                        <div class="section-title">

                            <h2>ЗАРЕГИСТРИРУЙТЕСЬ</h2>
                        </div> <!-- section title -->

                            <form  method="post">
                                {% csrf_token %}

                                {% if form.errors %}
                                    <div class="row">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            <input name="email" type="email" placeholder="Введите ваш email" data-error="Valid email is required." required="required">
                                            <div class="help-block with-errors"></div>
                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            <input name="subject" type="text" placeholder="Предмет" data-error="Subject is required." required="required">
                                            <div class="help-block with-errors"></div>
                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="singel-form form-group">
                                            <input name="phone" type="text" placeholder="Введите ваш телефон" data-error="Phone is required." required="required">
                                            <div class="help-block with-errors"></div>
                                        </div> <!-- singel form -->
                                    </div>
                                    <div class="row">
                                    </div>
                                        <div class="row">
                                                <div class="row">

                                            <div class="col-md-6">
                                                <label class="mb-3">{{ form.password1.label }}</label>
                                                {{form.password1}}
                                                <!-- <input class="main-input-box" type="password" placeholder="" /> -->
                                            </div>

                                            <div class="col-md-6">
                                                <label class="mb-3">{{ form.password2.label }}</label>
                                                {{form.password2}}
                                                <!-- <input class="main-input-box" type="password" placeholder="" /> -->
                                            </div>
                            </div>

                                        </div>

                                    <p class="form-message"></p>
                                    <div class="col-md-12">
                                        <div class="singel-form">
                                            <button type="submit" class="main-btn">Зарегистрирвоться</button>
                                        </div> <!-- singel form -->
                                    </div>
                                </div> <!-- row -->
                            </form>
                        </div> <!-- main form -->
                    </div>
{% endblock %}